<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.nbcc.houseagent.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="cn.nbcc.houseagent.Perspective"
            id="cn.nbcc.houseagent.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="租房信息视图"
            class="cn.nbcc.houseagent.views.RentItemView"
            id="cn.nbcc.houseagent.rentitemview">
      </view>
      <view
            class="cn.nbcc.houseagent.views.HouseView"
            id="cn.nbcc.houseagent.views.HouseView"
            name="房源信息视图">
      </view>
      <view
            class="cn.nbcc.houseagent.views.ContactorView"
            id="cn.nbcc.houseagent.views.ContactorView"
            name="客户视图">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="cn.nbcc.houseagent.rentitemview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="业务操作">
            <command
                  commandId="cn.nbcc.houseagent.commands.hire"
                  icon="icons/house.gif"
                  label="求租"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.rent"
                  icon="icons/home.gif"
                  label="出租"
                  style="push">
            </command>
            <separator
                  name="cn.nbcc.houseagent.menus.main.tasks"
                  visible="true">
            </separator>
            <command
                  commandId="cn.nbcc.houseagent.commands.sell"
                  icon="icons/coin.gif"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.buy"
                  icon="icons/coin.gif"
                  style="push">
            </command>
            <separator
                  name="cn.nbcc.houseagent.menus.main.tasks"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/exit.gif"
                  label="退出">
            </command>
         </menu>
         <menu
               label="基本工具">
            <command
                  commandId="cn.nbcc.houseagent.commands.calc"
                  icon="icons/calc.gif"
                  label="按揭计算器"
                  style="push">
            </command>
         </menu>
         <menu
               label="相关文档">
            <command
                  commandId="cn.nbcc.houseagent.commands.doc01"
                  icon="icons/contract.gif"
                  label="房屋租赁合同"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.doc02"
                  icon="icons/contract.gif"
                  label="居间协议合同"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.doc03"
                  icon="icons/contract.gif"
                  label="商品房买卖合同"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.doc04"
                  icon="icons/contract.gif"
                  label="二手房买卖合同"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.doc05"
                  icon="icons/contract.gif"
                  label="二手房买卖流程"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=TaskGroup">
         <toolbar
               id="cn.nbcc.houseagent.toolbars.tasks">
            <command
                  commandId="cn.nbcc.houseagent.commands.hire"
                  icon="icons/house.gif"
                  label="求租"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.rent"
                  icon="icons/home.gif"
                  label="出租"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.buy"
                  icon="icons/coin.gif"
                  label="求购"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="cn.nbcc.houseagent.commands.sell"
                  icon="icons/coin.gif"
                  label="出售"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="cn.nbcc.houseagent.commands.categorys.tasks"
            name="业务操作">
      </category>
      <category
            id="cn.nbcc.houseagent.commands.categorys.tools"
            name="基本工具">
      </category>
      <category
            id="cn.nbcc.houseagent.commands.categorys.contracts"
            name="相关文档">
      </category>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.tasks"
            id="cn.nbcc.houseagent.commands.rent"
            name="出租">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.tasks"
            id="cn.nbcc.houseagent.commands.hire"
            name="求租">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.tasks"
            id="cn.nbcc.houseagent.commands.sell"
            name="出售">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.tasks"
            id="cn.nbcc.houseagent.commands.buy"
            name="求购">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.tools"
            id="cn.nbcc.houseagent.commands.calc"
            name="按揭计算器">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.contracts"
            id="cn.nbcc.houseagent.commands.doc01"
            name="房屋租赁合同">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.contracts"
            id="cn.nbcc.houseagent.commands.doc02"
            name="居间协议合同">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.contracts"
            id="cn.nbcc.houseagent.commands.doc03"
            name="商品房买卖合同">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.contracts"
            id="cn.nbcc.houseagent.commands.doc04"
            name="二手房买卖合同">
      </command>
      <command
            categoryId="cn.nbcc.houseagent.commands.categorys.contracts"
            id="cn.nbcc.houseagent.commands.doc05"
            name="二手房买卖流程">
      </command>
      <command
            id="cn.nbcc.houseagent.commands.test"
            name="Test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="cn.nbcc.houseagent.handlers.RentHandler"
            commandId="cn.nbcc.houseagent.commands.rent">
      </handler>
      <handler
            class="cn.nbcc.houseagent.handlers.HireHandler"
            commandId="cn.nbcc.houseagent.commands.hire">
      </handler>
      <handler
            class="cn.nbcc.houseagent.handlers.HireHandler"
            commandId="cn.nbcc.houseagent.commands.sell">
      </handler>
      <handler
            class="cn.nbcc.houseagent.handlers.HireHandler"
            commandId="cn.nbcc.houseagent.commands.buy">
      </handler>
      <handler
            class="cn.nbcc.houseagent.handlers.CalcHandler"
            commandId="cn.nbcc.houseagent.commands.calc">
      </handler>
      <handler
            class="cn.nbcc.houseagent.handlers.RentContractHandler"
            commandId="cn.nbcc.houseagent.commands.doc01">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.nbcc.houseagent.commands.hire"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+1">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="cn.nbcc.houseagent.application"
            name="房产中介管理软件">
         <property
               name="appName"
               value="房产中介管理软件">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,400,480,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="cn.nbcc.houseagent.intro">
      </intro>
      <introProductBinding
            introId="cn.nbcc.houseagent.intro"
            productId="cn.nbcc.houseagent.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="cn.nbcc.houseagent.introConfigId"
            introId="cn.nbcc.houseagent.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="cn.nbcc.houseagent.wizard.NewRentItemWizard"
            icon="icons/new_add_wiz.gif"
            id="cn.nbcc.houseagent.newRentItemWizard"
            name="新建租房信息">
      </wizard>
   </extension>

</plugin>
